body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('ruta/a/la/imagen.jpg');
    /* Reemplazar por la ruta de tu imagen de fondo */
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.register-link,
.login-link {
    margin-top: 10px;
    text-align: center;
}

.register-link a,
.login-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.hidden {
    display: none;
}

.login-form {
    display: block;
}

.register-form {
    display: none;
}